@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
@font-face {
  font-family: 'Souvenir-Bold';
  src: url('../assets/fonts/Souvenir-Bold.otf')
}

@font-face {
   font-family: 'Souvenir-BoldItalic';
   src: url('../assets/fonts/Souvenir-BoldItalic.otf');
}
@font-face {
  font-family: 'Souvenir-Demi';
  src: url('../assets/fonts/Souvenir-Demi.otf')
}

@font-face {
   font-family: 'Souvenir-DemiItalic';
   src: url('../assets/fonts/Souvenir-DemiItalic.otf');
}
@font-face {
  font-family: 'Souvenir-Medium';
  src: url('../assets/fonts/Souvenir-Medium.otf');
}
@font-face {
  font-family: 'Souvenir-MediumItalic';
  src: url('../assets/fonts/Souvenir-MediumItalic.otf');
}

.dice-rolls {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  overflow: hidden;
}

.dice-rolls .roll {
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  background-image: url("../assets/icons/d6-grey.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.dice-rolls .roll.d6 {
  background-image: url("../assets/icons/d6-grey.svg");
}

.dice-rolls .roll.d6.max {
  /* Green */
  /* color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg); */
}

.dice-rolls .roll.help {
  /* Blue */
  color: #18520b;
  filter: sepia(0.5) hue-rotate(135deg);
}

.dice-rolls .roll.nature {
  /* Green */
  color: #18520b;
  filter: sepia(0.5) hue-rotate(60deg);
}

.dice-rolls .roll.persona {
  /* Red */
  color: #18520b;
  filter: sepia(0.5) hue-rotate(275deg);
}

.activePack {
  color: black;
}

.passivePack {
  color: #ccc;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0 8px 0 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.testBar {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  flex: none;
  
  /* -webkit-progress-bar styles the container, -webkit-progress-value styles the interior */

  margin-bottom: 5px;
  width: 100%;
  height: 20px;
}

.testBar::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

.testBar::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(0,0,0,0.25)),
    -webkit-linear-gradient(left, #09c, #f44);
  
  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.container {
  height: 488px;
  width: 100%;
}
.subtabbed.container {
  height: auto;
}

.scroll {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col {
  flex: 33%;
  padding: 0 4px;
}

.tbtable {
  background: none;
  border: none;
}

.theader {
  background: none;
  color: #000;
  text-shadow: none;
}

.window-app {
  font-family: "Roboto", sans-serif;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  opacity: 0.65;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  /* top: -5px; */
  left: 12%; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Adds a custom background image to the actor sheet */
.actor .window-content {
  background: url('../assets/background/TB CharSheet Border 612x810.png');
  background-size: cover;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.conflictGrid {
  display: grid;
  grid-template-columns: auto 120px auto 90px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to torchbearer sheets */
.torchbearer .item-form {
  font-family: "Roboto", sans-serif;
}

.torchbearer .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  flex: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* margin-bottom: 10px; */
}

.torchbearer .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.torchbearer .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.torchbearer .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.torchbearer .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.torchbearer .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.torchbearer .sheet-body,
.torchbearer .sheet-body .tab,
.torchbearer .sheet-body .tab .editor {
  height: 100%;
}

.torchbearer .tox .tox-editor-container {
  background: #fff;
}

.torchbearer .tox .tox-edit-area {
  padding: 0 8px;
}

.torchbearer .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.torchbearer .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.torchbearer .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.torchbearer .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.torchbearer .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.torchbearer .items-list .item-header {
  font-weight: bold;
}

.torchbearer .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
}

.torchbearer .items-list .item.last-slot-taken {
  border-bottom: 1px solid #BBB;
}

.torchbearer .items-list .placeholder {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  background-color: silver;
  opacity: 0.65;
  margin-top: 2px;
  text-align: center;
}

.torchbearer .items-list .secondary-slot-consumed {
  opacity: 0.65;
  font-style: italic;
}

.torchbearer .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.torchbearer .items-list .item img {
  display: block;
}

.torchbearer .items-list .item-name {
  margin: 0;
  flex-basis: auto;
}

.torchbearer .items-list .item-controls {
  text-align: right;
  flex-basis: auto;
}

.torchbearer .clickable {
  cursor: pointer;
}
