<form class="{{cssClass}} {{inventoryContainerClass}}" data-item-id="{{item._id}}" data-container-type="{{containerType}}" autocomplete="off" style="margin: 25px;">
    <!-- Header -->
    <div class="row" style="flex-wrap: nowrap; align-items: flex-end;">
        <div class="col">
            <input name="data.name" type="text" value="{{data.name}}" placeholder="Name" style="font-family: Souvenir-Demi; height: 48px; font-size: 28px;">
            <div class="row" style="font-family: Souvenir-MediumItalic; padding: 0; margin: 2px 0 2px 0;">
                <input name="data.natureDescriptors" type="text" value="{{data.natureDescriptors}}" placeholder="Nature descriptors">
            </div>
            <div class="row" style="align-items: center; padding: 0;">
                <div class="col" style="padding: 0;">
                    <label for="data.nature" style="font-family: Souvenir-Demi;">Nature: </label>
                    <input name="data.nature" type="text" value="{{data.nature}}" style="width: 35px; font-family: Souvenir-Medium; text-align: center;">    
                </div>
                <div class="col" style="text-align: left; padding: 0;">
                    <label for="data.might" style="font-family: Souvenir-Demi;">Might: </label>
                    <input name="data.might" type="text" value="{{data.might}}" style="width: 35px; font-family: Souvenir-Medium; text-align: center;">
                </div>
                <div class="col" style="text-align: right; padding: 0; margin-right: 2px; white-space: nowrap;">
                    <label for="data.type" style="font-family: Souvenir-Demi;">Type: </label>
                    <input name="data.type" type="text" value="{{data.type}}" style="width: 100px; font-family: Souvenir-Medium; text-align: center;">
                </div>
            </div>
        </div>
        
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" style="justify-self: right;"> 
    </div>
    <hr style="border-top: 1px solid #782e22; border-bottom: 1px solid #782e22;">
    <!-- Instict, Goals, Special Rules -->
    <div class="row" style="flex-wrap: nowrap;">
        <label for="data.instinct" style="font-family: Souvenir-Demi; margin: 0 3px 0 42px;">Instinct: </label>
        <input name="data.instinct" type="text" value="{{data.instinct}}" style="font-family: Souvenir-Medium; text-align: left;">
    </div>
    <div class="row" style="flex-wrap: nowrap; margin-top: 3px;">
        <label for="data.goals" style="font-family: Souvenir-Demi; margin: 0 3px 0 54px;">Goals: </label>
        <!-- <input name="data.goals" type="text" value="{{data.goals}}" style="font-family: Souvenir-Medium; text-align: left;"> -->
        <textarea name="data.goals" cols="30" rows="2" style="font-family: Souvenir-Medium;">{{data.goals}}</textarea>
    </div>
    <div class="row" style="flex-wrap: nowrap; margin-top: 3px;">
        <label for="data.special" style="font-family: Souvenir-Demi; margin-right: 3px; white-space: nowrap">Special Rules: </label>
        <!-- <input name="data.special" type="text" value="{{data.special}}" style="font-family: Souvenir-Medium; text-align: left;"> -->
        <textarea name="data.special" cols="30" rows="3" style="font-family: Souvenir-Medium;">{{data.special}}</textarea>
    </div>
    <hr style="border-top: 1px solid #782e22; border-bottom: 1px solid #782e22;">
    <!-- Hit Points -->
    <section>
        <p style="text-align: center; font-family: Souvenir-Demi; font-size: 20px; margin: 5px 0 5px 0;">Hit Points</p>
        <div class="row" style="text-align: center;">
            <div class="col">
                <select name="data.hitpoints.first.selectedConflictType" class="monsterDispoDropdown">
                {{#select data.hitpoints.first.selectedConflictType}}
                    <option value="" selected hidden disabled>Choose a conflict...</option>
                    {{#each data.conflictTypes}}
                        <option value="{{@key}}">{{this.name}}</option>
                    {{/each}}
                {{/select}}
                </select>
                <input name="data.hitpoints.first.hp" type="text" value="{{data.hitpoints.first.hp}}" class="conflictDispo" style="width: 48px; height: 48px; font-size: 28px; font-family: Souvenir-Medium; margin-top: 3px;">
            </div>
            <div class="col">
                <select name="data.hitpoints.second.selectedConflictType" class="monsterDispoDropdown">
                    {{#select data.hitpoints.second.selectedConflictType}}
                        <option value="" selected hidden disabled>Choose a conflict...</option>
                        {{#each data.conflictTypes}}
                            <option value="{{@key}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <input name="data.hitpoints.second.hp" type="text" value="{{data.hitpoints.second.hp}}" class="conflictDispo" style="width: 48px; height: 48px; font-size: 28px; font-family: Souvenir-Medium; margin-top: 3px;">
            </div>
            <div class="col">
                <select name="data.hitpoints.third.selectedConflictType" class="monsterDispoDropdown">
                    {{#select data.hitpoints.third.selectedConflictType}}
                        <option value="" selected hidden disabled>Choose a conflict...</option>
                        {{#each data.conflictTypes}}
                            <option value="{{@key}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <input name="data.hitpoints.third.hp" type="text" value="{{data.hitpoints.third.hp}}" class="conflictDispo" style="width: 48px; height: 48px; font-size: 28px; font-family: Souvenir-Medium; margin-top: 3px;">
            </div>
        </div>
        <div class="row" style="margin: auto;">
            <p style="text-align: left; font-family: Souvenir-Medium; margin: 8px 0 0px 0; padding: 0 8px;">
                <b><u>Other Conflict Hit Points</u>:</b> Within Nature: Roll Nature, add successes to Nature rating. Outside of Nature: Roll half Nature, add successes to Nature rating.
            </p>
        </div>
    </section>
    <hr style="border-top: 1px solid #782e22; border-bottom: 1px solid #782e22;">
    <!-- Weapons and Armor -->
    <section>
        <div class="row" style="flex-wrap: nowrap; align-items: center; margin-bottom: 5px; padding: 0;">
            <label for="" style="font-family: Souvenir-Demi;">Armor:</label>
            <input name="data.armor" type="text" value="{{data.armor}}" style="font-family: Souvenir-Medium; margin: 3px;">
        </div>
        <table class="tbtable" id="monsterWeaponsTable">
            <thead class="theader" style="font-family: Souvenir-Demi;">
                <th style="text-align: left;">
                    Weapon
                    <div class="item-controls" style="float: right; margin: 0 5px 0 0;">
                        <a class="item-control weapon-create" title="Create weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
                    </div>
                </th>
                <th style="text-align: center;">Conflict</th>
                <th style="text-align: center;">A</th>
                <th style="text-align: center;">D</th>
                <th style="text-align: center;">F</th>
                <th style="text-align: center;">M</th>
            </thead>
            <tbody>
                <!-- Weapon 1 -->
                <tr>
                    <td>
                        <input type="text" name="data.weapons.weapon1.name" value="{{data.weapons.weapon1.name}}">
                    </td>
                    <td style="text-align: center;">
                        <select name="data.weapons.weapon1.conflict" class="weaponDispoDropdown">
                            {{#select data.weapons.weapon1.conflict}}
                                <option value="" selected hidden disabled>Choose a conflict...</option>
                                {{#each data.conflictTypes}}
                                    <option value="{{@key}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon1.a" value="{{data.weapons.weapon1.a}}">
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon1.d" value="{{data.weapons.weapon1.d}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon1.f" value="{{data.weapons.weapon1.f}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon1.m" value="{{data.weapons.weapon1.m}}">
                    </td>
                </tr>
                <!-- Weapon 2 -->
                <tr>
                    <td>
                        <input type="text" name="data.weapons.weapon2.name" value="{{data.weapons.weapon2.name}}">
                    </td>
                    <td style="text-align: center;">
                        <select name="data.weapons.weapon2.conflict" class="weaponDispoDropdown">
                            {{#select data.weapons.weapon2.conflict}}
                                <option value="" selected hidden disabled>Choose a conflict...</option>
                                {{#each data.conflictTypes}}
                                    <option value="{{@key}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon2.a" value="{{data.weapons.weapon2.a}}">
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon2.d" value="{{data.weapons.weapon2.d}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon2.f" value="{{data.weapons.weapon2.f}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon2.m" value="{{data.weapons.weapon2.m}}">
                    </td>
                </tr>
                <!-- Weapon 3 -->
                <tr>
                    <td>
                        <input type="text" name="data.weapons.weapon3.name" value="{{data.weapons.weapon3.name}}">
                    </td>
                    <td style="text-align: center;">
                        <select name="data.weapons.weapon3.conflict" class="weaponDispoDropdown">
                            {{#select data.weapons.weapon3.conflict}}
                                <option value="" selected hidden disabled>Choose a conflict...</option>
                                {{#each data.conflictTypes}}
                                    <option value="{{@key}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon3.a" value="{{data.weapons.weapon3.a}}">
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon3.d" value="{{data.weapons.weapon3.d}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon3.f" value="{{data.weapons.weapon3.f}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon3.m" value="{{data.weapons.weapon3.m}}">
                    </td>
                </tr>
                <!-- Weapon 4 -->
                <tr>
                    <td>
                        <input type="text" name="data.weapons.weapon4.name" value="{{data.weapons.weapon4.name}}">
                    </td>
                    <td style="text-align: center;">
                        <select name="data.weapons.weapon4.conflict" class="weaponDispoDropdown">
                            {{#select data.weapons.weapon4.conflict}}
                                <option value="" selected hidden disabled>Choose a conflict...</option>
                                {{#each data.conflictTypes}}
                                    <option value="{{@key}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon4.a" value="{{data.weapons.weapon4.a}}">
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon4.d" value="{{data.weapons.weapon4.d}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon4.f" value="{{data.weapons.weapon4.f}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon4.m" value="{{data.weapons.weapon4.m}}">
                    </td>
                </tr>
                <!-- Weapon 5 -->
                <tr>
                    <td>
                        <input type="text" name="data.weapons.weapon5.name" value="{{data.weapons.weapon5.name}}">
                    </td>
                    <td style="text-align: center;">
                        <select name="data.weapons.weapon5.conflict" class="weaponDispoDropdown">
                            {{#select data.weapons.weapon5.conflict}}
                                <option value="" selected hidden disabled>Choose a conflict...</option>
                                {{#each data.conflictTypes}}
                                    <option value="{{@key}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon5.a" value="{{data.weapons.weapon5.a}}">
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon5.d" value="{{data.weapons.weapon5.d}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon5.f" value="{{data.weapons.weapon5.f}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon5.m" value="{{data.weapons.weapon5.m}}">
                    </td>
                </tr>
                <!-- Weapon 6 -->
                <tr>
                    <td>
                        <input type="text" name="data.weapons.weapon6.name" value="{{data.weapons.weapon6.name}}">
                    </td>
                    <td style="text-align: center;">
                        <select name="data.weapons.weapon6.conflict" class="weaponDispoDropdown">
                            {{#select data.weapons.weapon6.conflict}}
                                <option value="" selected hidden disabled>Choose a conflict...</option>
                                {{#each data.conflictTypes}}
                                    <option value="{{@key}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon6.a" value="{{data.weapons.weapon6.a}}">
                    </td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon6.d" value="{{data.weapons.weapon6.d}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon6.f" value="{{data.weapons.weapon6.f}}">
                    </td>
                    <td style="text-align: center;" class="weaponTableCell">
                        <input type="text" style="width: 35px;" name="data.weapons.weapon6.m" value="{{data.weapons.weapon6.m}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <hr style="border-top: 1px solid #782e22; border-bottom: 1px solid #782e22;">
    <!-- Description -->
    <section>
        <p style="text-align: center; font-family: Souvenir-Demi; font-size: 20px; margin: 5px 0 5px 0;">Description</p>
        <textarea name="data.description" cols="30" rows="6" style="font-family: Souvenir-Medium;">{{data.description}}</textarea>
    </section>
</form>