.items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;

  .item-header {
    font-weight: bold;
  }

  .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #bbb;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
    }

    img {
      display: block;
    }
  }

  .item-name {
    margin: 0;
  }

  .item-controls {
    flex: 0 0 86px;
    text-align: right;
  }

  .item.last-slot-taken {
    border-bottom: 1px solid #bbb;
  }

  .placeholder {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #bbb;
    background-color: silver;
    opacity: 0.65;
    margin-top: 2px;
    text-align: center;
  }

  .secondary-slot-consumed {
    opacity: 0.65;
    font-style: italic;
  }

  .item-name {
    margin: 0;
    flex-basis: auto;
  }
}
