{{!-- Sheet Header --}}
<header class="sheet-header">
  <div class="row">
    <div class="col">
      <!-- Party Intent Input -->
      <div class="row" style="flex-wrap: nowrap;">
        <label for="partyIntent" style="font-family: Souvenir-Demi;">Party Intent</label>
        <input type="text" name="partyIntent" id="partyIntent" value="{{partyIntent}}">
      </div>
      <!-- Conflict Captain Dropdown -->
      <div class="row" style="flex-wrap: nowrap;">
        <label for="conflictCaptain" style="font-family: Souvenir-Demi;">Conflict Captain</label>
        <select name="actors" id="conflictCaptain">
          {{#select actors}}
          <option value="" selected disabled hidden>Choose a captain...</option>
          {{#each actors}}
          <option name="{{this}}" value="{{this}}">{{this}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class="col" style="flex: 0 0 245px;">
      <div class="row" style="display: block; text-align: center;">
        <h2 style="margin: auto; font-family: Souvenir-Demi;">Disposition</h3>
      </div>
      <div class="row" style="flex-wrap: nowrap; margin: 5px 0 5px 0">
        <div class="col" style="border-right: 1px solid #AAA;">
          <div class="row" style="justify-content: center; align-items: center; text-align: center; font-family: Souvenir-Medium;">
            <input type="text" name="partyDispoCurrent" id="partyDispoCurrent" data-dtype="Number" style="width: 40px; height: 40px; font-size: large !important;">
            <span>&nbsp/&nbsp</span>
            <input type="text" name="partyDispoTotal" id="partyDispoTotal" data-dtype="Number" style="width: 40px; height: 40px; font-size: large !important;">
          </div>
        </div>
        <div class="col">
          <div class="row" style="justify-content: center; align-items: center; text-align: center; font-family: Souvenir-Medium;">
            <input type="text" name="partyDispoCurrent" id="partyDispoCurrent" data-dtype="Number" style="width: 40px; height: 40px; font-size: large !important;">
            <span>&nbsp/&nbsp</span>
            <input type="text" name="partyDispoTotal" id="partyDispoTotal" data-dtype="Number" style="width: 40px; height: 40px; font-size: large !important;">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row" style="flex-wrap: nowrap;">
        <input type="text" name="opponentIntent" id="opponentIntent">
        <label for="opponentIntent" style="font-family: Souvenir-Demi;">Opponent Intent</label>
      </div>
      <div class="row" style="flex-wrap: nowrap;">
        <input type="text" name="opponentName" id="opponentName">
        <label for="opponentName" style="font-family: Souvenir-Demi;">Opponent Name</label>
      </div>
    </div>
  </div>
</header>

{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="setup" style="font-family: Souvenir-Demi;">Setup</a>
  <a class="item" data-tab="conflict" style="font-family: Souvenir-Demi;">Conflict</a>
  <a class="item" data-tab="reference" style="font-family: Souvenir-Demi;">Reference</a>
</nav>

{{!-- Sheet Body --}}
<section class="sheet-body">
  <div class="tab" data-group="primary" data-tab="setup">
    <div class="col" style="border-right: 1px solid #AAA;">
      
    </div>
    <div class="col">

    </div>
  </div>
</section>