<form class="{{cssClass}}">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="row">
      <!-- Party Intent and Conflict Captain -->
      <div class="col">
        <!-- Party Intent Input -->
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0; justify-content: flex-end;">
          <label for="partyIntent" style="font-family: Souvenir-Demi; margin-right: 5px; align-self: center;">Party Intent</label>
          <input type="text" name="partyIntent" id="partyIntent" value="{{partyIntent}}" style="width: 230px;">
        </div>
        <!-- Conflict Captain Dropdown -->
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0; justify-content: flex-end;">
          <label for="conflictCaptain" style="font-family: Souvenir-Demi; margin-right: 5px; align-self: center;">Conflict Captain</label>
          <select name="conflictCaptain" id="conflictCaptain" style="width: 230px;">
            {{#select conflictCaptain}}
            <option value="" selected disabled hidden>Choose a captain...</option>
            {{#each actors}}
            <option name="{{this.name}}" value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      <!-- Disposition -->
      <div class="col" style="flex: 0 0 245px;">
        <div class="row" style="display: block; text-align: center;">
          <h2 style="margin: auto; font-family: Souvenir-Demi;" id="dispo">Disposition</h3>
        </div>
        <div class="row" style="flex-wrap: nowrap; margin: 5px 0 5px 0">
          <div class="col" style="border-right: 1px solid #782e22;">
            <div class="row" style="justify-content: center; align-items: center; text-align: center; font-family: Souvenir-Medium;">
              <input type="text" name="partyDispoCurrent" id="partyDispoCurrent" data-dtype="Number" value="{{partyDispoCurrent}}" style="width: 40px; height: 40px; font-size: large !important;">
              <span>&nbsp/&nbsp</span>
              <input type="text" name="partyDispoMax" id="partyDispoMax" data-dtype="Number" value="{{partyDispoMax}}" style="width: 40px; height: 40px; font-size: large !important;">
            </div>
          </div>
          <div class="col">
            <div class="row" style="justify-content: center; align-items: center; text-align: center; font-family: Souvenir-Medium;">
              <input type="text" name="opponentDispoCurrent" id="opponentDispoCurrent" data-dtype="Number" value="{{opponentDispoCurrent}}" style="width: 40px; height: 40px; font-size: large !important;">
              <span>&nbsp/&nbsp</span>
              <input type="text" name="opponentDispoMax" id="opponentDispoMax" data-dtype="Number" value="{{opponentDispoMax}}" style="width: 40px; height: 40px; font-size: large !important;">
            </div>
          </div>
        </div>
      </div>
      <!-- Opponent Intent and Name -->
      <div class="col">
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0;">
          <input type="text" name="opponentIntent" id="opponentIntent" value="{{opponentIntent}}" style="width: 230px;">
          <label for="opponentIntent" style="font-family: Souvenir-Demi; margin-left: 5px; align-self: center;">Opponent Intent</label>
        </div>
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0;">
          <input type="text" name="opponentName" id="opponentName" value="{{opponentName}}" style="width: 230px;">
          <label for="opponentName" style="font-family: Souvenir-Demi; margin-left: 5px; align-self: center;">Opponent Name</label>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="conflictTabs">
    <a class="item" data-tab="setup" style="font-family: Souvenir-Demi;">Setup</a>
    <a class="item" data-tab="conflict" style="font-family: Souvenir-Demi;">Conflict</a>
    <a class="item" data-tab="reference" style="font-family: Souvenir-Demi;">Reference</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="height: fit-content;">
    
    {{!-- Setup Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="setup">
      <div class="row">
        <div class="col" style="border-right: 1px solid #782e22;">
          <table>
            <thead>
              <th>Character</th>
              <th>Weapon</th>
              <th>Disposition</th>
            </thead>
            <tbody>
              {{#each actors as |actor key|}}
              <tr>
                <td>
                  {{this.name}}
                </td>
                <td style="text-align: center;">
                  <select name="weapon {{key}}" class="charWeapon" id="{{this.name}}-weapon">
                    {{#select (lookup weapon @key)}}
                    <option value="" selected disabled hidden>Choose a weapon...</option>
                    {{#each this.weapons}}
                    <option name="{{this.name}}" value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                    {{/select}}
                  </select>
                </td>
                <td>
                  <input type="text">
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="col">
          <span>Text goes here too.</span>
        </div>
      </div>
    </div>
    
    {{!-- Conflict Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="conflict">Conflict</div>
    
    {{!-- Reference Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="reference">Reference</div>

  </section>
</form>