<form class="{{cssClass}}" style="margin: 25px;">
  {{!-- Sheet Header --}}
  <header class="sheet-header" style="margin-bottom: 5px;">
    <!-- Conflict General Info -->
    <div class="row">
        {{#if isGM }}
            <div class="row ddbox" style="padding:8px;border:1px solid black;position:absolute;right:0px;top:30px;background-color: #eeeeee">
                <div class="col" style="display:flex;flex-direction: column">
                    <h3 style="font-family: Souvenir-Demi;text-decoration: underline">GM Tools</h3>
                    <p class="clickable dd" style="font-family: Souvenir-Demi" id="reloadTemplate">Reload Template</p>
                    <p class="clickable dd" style="font-family: Souvenir-Demi" id="resetConflict">Reset Conflict</p>
                    <p class="clickable dd" style="font-family: Souvenir-Demi" id="loadChars">Load Chars</p>
                    <p class="clickable dd" style="font-family: Souvenir-Demi" id="logConflict">Console.log</p>
                </div>
            </div>
        {{/if}}
      <!-- Party Intent and Conflict Captain -->
      <div class="col">
        <!-- Party Intent Input -->
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0; justify-content: flex-end;">
          <label for="partyIntent" style="font-family: Souvenir-Demi; margin-right: 5px; align-self: center;">Party Intent</label>
          <input type="text" name="partyIntent" id="partyIntent" class="conflict-field" value="{{conflict.partyIntent}}" style="width: 225px;">
        </div>
        <!-- Conflict Captain Dropdown -->
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0; justify-content: flex-end;">
          <label for="conflictCaptain" style="font-family: Souvenir-Demi; margin-right: 5px; align-self: center;">Conflict Captain</label>
          <select name="conflictCaptain" id="conflictCaptain" class="conflict-field" style="width: 225px;">
            {{#select conflict.conflictCaptain}}
            <option value="" selected disabled hidden>Choose a captain...</option>
            {{#orderedEach conflict.engagedActors conflict.partyOrder}}
            <option name="{{this.name}}" value="{{this.name}}">{{this.name}}</option>
            {{/orderedEach}}
            {{/select}}
          </select>
        </div>
      </div>
      <!-- Disposition -->
      <div class="col" style="flex: 0 0 245px;">
          <div class="row" style="display: flex;justify-content: space-around;">
              <img id="playerDispoRoll" src="systems/torchbearer/assets/icons/d6.png" style="height: 24px;flex-basis: 24px;border: none;margin-left:24px;" class="rollable">
              <h2 style="margin: auto; font-family: Souvenir-Demi;" id="dispoHeader">Hit Points</h2>
              <img id="gmDispoRoll" src="systems/torchbearer/assets/icons/d6.png" style="height: 24px;flex-basis: 24px;border: none;margin-right:24px;" class="rollable">
          </div>
          <div class="row" style="flex-wrap: nowrap; margin: 5px 0 5px 0">
          <div class="col" style="border-right: 1px solid #782e22;">
            <div class="row" style="justify-content: center; align-items: center; text-align: center; font-family: Souvenir-Medium;">
              <input type="text" name="partyDispoCurrent" id="partyDispoCurrent" class="conflict-field" data-dtype="Number" value="{{conflict.partyDispoCurrent}}" style="width: 40px; height: 40px; font-size: large !important;">
              <span>&nbsp/&nbsp</span>
              <input type="text" name="partyDispoMax" id="partyDispoMax" class="conflict-field" data-dtype="Number" value="{{conflict.partyDispoMax}}" style="width: 40px; height: 40px; font-size: large !important;">
            </div>
          </div>
          <div class="col">
            <div class="row" style="justify-content: center; align-items: center; text-align: center; font-family: Souvenir-Medium;">
              <input type="text" name="opponentDispoCurrent" id="opponentDispoCurrent" class="conflict-field" data-dtype="Number" value="{{conflict.opponentDispoCurrent}}" style="width: 40px; height: 40px; font-size: large !important;">
              <span>&nbsp/&nbsp</span>
              <input type="text" name="opponentDispoMax" id="opponentDispoMax" class="conflict-field" data-dtype="Number" value="{{conflict.opponentDispoMax}}" style="width: 40px; height: 40px; font-size: large !important;">
            </div>
          </div>
        </div>
      </div>
      <!-- Opponent Intent and Conflict Type -->
      <div class="col">
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0;">
          <input type="text" name="opponentIntent" id="opponentIntent" class="conflict-field" value="{{conflict.opponentIntent}}" style="width: 225px;">
          <label for="opponentIntent" style="font-family: Souvenir-Demi; margin-left: 5px; align-self: center;">Opponent Intent</label>
        </div>
        <div class="row" style="flex-wrap: nowrap; margin: 8px 0 8px 0;">
            <select name="conflictType" id="conflictType" class='conflict-field' style="margin: 0; width:225px;">
                {{#select conflict.conflictType}}
                    <option value="" selected disabled hidden>Choose a type...</option>
                    {{#each conflictTypes}}
                        <option name="this.name" value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <label for="conflictType" style="font-family: Souvenir-Demi; margin-left: 5px; align-self: center;">Conflict Type</label>
        </div>
      </div>
    </div>
    <!-- Horizontal Row -->
    <div class="row" style="flex-basis: 100%;">
      <hr style="border-top: none; border-bottom: 1px solid #782e22; display: flex; flex-basis: 100%; margin: 0 0 5px 0;">
    </div>
    <!-- Conflict Actor Info -->
    <div class="row">
      <!-- Player Character Info -->
      <div class="col" style="border-right: 1px solid #782e22;">
        <table class="tbtable" style="table-layout: auto;">
          <thead class="theader" style="font-family: Souvenir-Demi;">
            <th style="text-align: left;">Character</th>
            <th>Weapon</th>
            <th>Bonus</th>
            <th>Disposition</th>
          </thead>
          <tbody>
          {{#orderedEach conflict.engagedActors conflict.partyOrder}}
                <tr class="actor" data-actor-id="{{id}}">
                    <td style="font-family: Souvenir-Medium;">
                        <h3 class="actor-name clickable" style="margin: 0;">{{name}}</h3>
                    </td>
                    <!-- Weapon Dropdown -->
                    <td style="text-align: center;">
                        <select name="equipped" class="conflict-actor-field">
                            {{#select equipped}}
                                <option value="" selected disabled hidden>Choose a weapon...</option>
                                {{#each this.weapons}}
                                    <option name="{{name}}" value="{{name}}">{{name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td></td>
                    <td style="text-align: center;">
                        <input type="text" style="width: 50px;" name="dispo" class='conflict-actor-field' data-dtype="Number" value="{{dispo}}">
                    </td>
                </tr>
          {{/orderedEach}}
          </tbody>
        </table>
      </div>
      <!-- NPC Opponent Info -->
      <div class="col">
        <table class="tbtable" style="table-layout: auto;">
          <thead class="theader" style="font-family: Souvenir-Demi;">
            <th style="text-align: left;">Opponent</th>
            <th>Weapon</th>
            <th>Bonus</th>
            <th>Disposition</th>
          </thead>
          <tbody>
            {{#each conflict.engagedEnemies}}
            <tr class="actor" data-actor-id="{{id}}">
              <td style="font-family: Souvenir-Medium;">
                <h3 class="actor-name clickable" style="margin: 0;">{{name}}</h3>
              </td>
              <!-- Weapon Dropdown -->
              <td style="text-align: center;">
                <select name="equipped" title="{{@key}}" class="conflict-monster-field">
                  {{#select equipped}}
                    <option value="" selected disabled hidden>Choose a weapon...</option>
                    {{#each this.weapons}}
                        <option name="{{name}}" value="{{name}}">{{name}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </td>
              <td></td>
              <td style="text-align: center;">
                <input type="text" style="width: 50px;" name="dispo" title="{{id}}" class='conflict-monster-field' data-dtype="Number" value="{{dispo}}">
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="conflictTabs">
    <a class="item" data-tab="conflict" style="font-family: Souvenir-Demi;">Conflict</a>
    <a class="item" data-tab="abilities" style="font-family: Souvenir-Demi;">Ability/Skills by Action</a>
    <a class="item" data-tab="interactions" style="font-family: Souvenir-Demi;">Action Interactions</a>
    <a class="item" data-tab="compromises" style="font-family: Souvenir-Demi;">Compromises</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="height: fit-content;">

    {{!-- Conflict Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="conflict">
      <!-- Player Row -->
      <div class="row" style="margin: 0 0 0 0; height: 150px; border-bottom: 1px solid #7a7971;">
        <div class="col">
          <div class="row" style="justify-content: center; flex-wrap: nowrap;">
            <select name="characterAction1" id="characterAction1" class="action1">
              {{#select conflict.characterAction1}}
              <option value="" selected disabled hidden>Character...</option>
              {{#orderedEach conflict.engagedActors conflict.partyOrder}}
              <option name="{{this.name}}" value="{{this.name}}">{{this.name}}</option>
              {{/orderedEach}}
              {{/select}}
            </select>
            <select name="" id="">
              <option value="" selected disabled hidden>Action...</option>
              <option value="Attack">Attack</option>
              <option value="Defend">Defend</option>
              <option value="Feint">Feint</option>
              <option value="Maneuver">Maneuver</option>
            </select>
            <div class="item-controls" style="align-self: center;">
              <i class="fas fa-eye"></i>
            </div>
            <input type="button" value="Roll">
          </div>
          <div class="row" style="justify-content: center;"></div>
        </div>
        <div class="col" style="justify-content: center;"></div>
        <div class="col" style="justify-content: center;"></div>
      </div>
      <!-- GM Row -->
      <div class="row">
        <div class="col" style="justify-content: center;">Action 1</div>
        <div class="col" style="justify-content: center;">Action 2</div>
        <div class="col" style="justify-content: center;">Action 3</div>
      </div>
      {{#if isGM}}
          <button id="newRndBtn" type="button" style="font-family: Souvenir-Medium; background: rgba(0, 0, 0, 0.1); border: 1px solid #999; border-radius: 3px; line-height: 24px;">New Round</button>
      {{/if}}
      {{{renderConflictRounds conflict.rounds}}}
    </div>

    {{!-- Ability/Skills Reference Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="abilities" style="text-align: center;">
      <img src="../systems/torchbearer/assets/conflict/conflict-ability-and-skill-by-action.png" style="height: 440px; width: auto; border: none; margin-top: 5px;">
    </div>

    {{!-- Action Interaction Reference Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="interactions" style="text-align: center;">
      <img src="../systems/torchbearer/assets/conflict/action-interactions.png" style="height: auto; width: 440px; border: none; margin-top: 5px;">
    </div>

    {{!-- Compromises Reference Tab --}}
    <div class="tab" data-group="conflictTabs" data-tab="compromises" style="text-align: center;">
      <img src="../systems/torchbearer/assets/conflict/suggested-compromises.png" style="height: 440px; width: auto; border: none; margin-top: 5px;">
    </div>

  </section>
</form>
