<h2 style="font-family: Souvenir-Demi;">Testing: {{attribute}}</h2>
<form style="font-family: Souvenir-Medium;">
  <!-- Obstacle (Need to make a required field) -->
  <div class="row" style="align-items: center; margin: 0 0 8px 0;">
    <u><label for="ob">Obstacle:</label></u>
    <input type="text" name="ob" id="ob" data-dtype="Number" style="width: 30px; margin-left: 5px;">
  </div>

  <!-- Action description -->
  <div class="row" style="align-items: center; flex-wrap: nowrap;">
    <u><label for="ob">Description:</label></u>
    <input type="text" name="flavorText" id="flavorText" placeholder="What are you trying to do?" style="margin-left: 5px;" required="true">
  </div>
  
  <!-- Modifiers -->
  <div style="margin-top: 10px;">
    <h2 style="font-family: Souvenir-Medium;">Modifiers</h2>
    <!-- Helping dice -->
    <div class="row" style="align-items: center;">
      <u><label for="fresh">Fresh:</label></u>
      <input type="checkbox" name="fresh" id="fresh" data-dtype="Boolean" {{fresh}}>
    </div>
    <div class="row" style="align-items: center;">
      <u><label for="helpingDice">Helping Dice:</label></u>
      <input type="text" name="helpingDice" id="helpingDice" data-dtype="Number" style="width: 30px; margin-left: 5px;">

      <u><label for="supplies" style="margin-left: 15px;">Supplies and Gear:</label></u>
      <input type="text" name="supplies" id="supplies" data-dtype="Number" style="width: 30px; margin-left: 5px;">
    </div>

    <!-- Tap Nature (Should this be hidden when rolling Resources and Circles?) -->
    <div class="row" style="align-items: center; margin: 8px 0 8px 0;">
      <u><label for="nature">Tap Nature:</label></u>
      <label for="nature" style="margin: 0 0 0 8px;">Yes (1 persona)</label>
      <input type="radio" name="nature" id="natureYes" value="natureYes">
      <span> / </span>
      <label for="nature" style="margin: 0 0 0 4px;">No</label>
      <input type="radio" name="nature" id="natureNo" value="natureNo" checked>
    </div>

    <!-- Use Trait -->
    <div class="row" style="align-items: center; margin: 8px 0 8px 0; padding-right: 0px;">
      <div class="col">
        <u><label for="trait">Use Trait:</label></u>
        <!-- <input type="text" name="trait" id="trait" data-dtype="Number" style="width: 80px; margin-left: 5px;"> -->
        <select name="traitList" id="traitDropdown" style="margin-top: 10px; font-family: Souvenir-Medium;">
        {{#select traitList}}
        <option value="" selected disabled hidden>Choose a trait...</option>
        {{#each traitList}}
        <option name="{{this}}" value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
        </select>
      </div>
    </div>
      <!-- If a trait is chosen from the <select>, these needs to be required fields. -->
    <div class="row" style="align-items: center; margin: 8px 0 8px 0; padding-right: 0px;">
      <div class="col" style="flex: 0 0 65px"></div>
      <div class="col">
      <input type="radio" name="trait" id="traitFor" value="for">
      <label for="for" style="margin: 0 0 0 0;">Help (+1D)</label>
      <br>
      <input type="radio" name="trait" id="traitAgainst" value="against">
      <label for="against" style="margin: 0 0 0 0;">Hinder (-1D, 1 Check)</label>
      <br>
      <input type="radio" name="trait" id="traitAgainstExtra" value="againstExtra">
      <label for="againstExtra" style="margin: 0 0 0 0;">Help Enemy (+2D, 2 Checks)</label>
      </div>
    </div>
  </div>
</form>