<h2 style="font-family: Souvenir-Demi;">{{attribute}}</h2>
<form style="font-family: Souvenir-Medium;">
  <!-- Obstacle (Need to make a required field) -->
  <div class="row" style="align-items: center; margin: 0 0 8px 0;">
    <label for="ob"><u>Obstacle</u>:</label>
    <input type="number" name="ob" id="ob" data-dtype="Number" style="width: 40px; margin-left: 5px;" value="{{ob}}" />
  </div>

  <!-- Action description -->
  <div class="row" style="align-items: center; flex-wrap: nowrap;">
    <label for="ob"><u>Description</u>:</label>
    <input type="text" name="flavorText" id="flavorText" placeholder="What are you trying to do?" style="margin-left: 5px;" required="true">
  </div>
  
  <!-- Modifiers -->
  <div style="margin-top: 10px;">
    <h2 style="font-family: Souvenir-Medium;">Modifiers</h2>
    <!-- Fresh -->
    <div class="row" style="align-items: center;">
      <label for="fresh"><u>Fresh</u>:</label>
      <input type="checkbox" name="fresh" id="fresh" data-dtype="Boolean" disabled {{fresh}}>
    </div>

    <!-- Helping dice -->
    <div class="row" style="align-items: center; margin-top: 8px;">
      <label for="helpingDice"><u>Helping Dice</u>:</label>
      <input type="number" name="helpingDice" id="helpingDice" data-dtype="Number" style="width: 40px; margin-left: 5px;" value="{{helpDice}}" />

      <label for="supplies" style="margin-left: 15px;"><u>Supplies and Gear</u>:</label>
      <input type="number" name="supplies" id="supplies" data-dtype="Number" style="width: 40px; margin-left: 5px;" value="{{supplies}}" />
    </div>

    <!-- Persona Advantage -->
    <div class="row" style="align-items: center; margin-top: 8px;">
      <label for="personaAdvantage"><u>Persona Advantage</u>:</label>
      <input type="number" name="personaAdvantage" id="personaAdvantage" data-dtype="Number" style="width: 40px; margin: 0 5px 0 5px;" value="{{persona}}" />
      <label style="font-family: Souvenir-MediumItalic;">(+1D/persona spent, up to 3)</label>
    </div>

    <!-- Tap Nature (Should this be hidden when rolling Resources and Circles?) -->
    <div class="row" style="align-items: center; margin: 8px 0 5px 0;">
      <div class="col" style="padding: 0 0 0 0;">
        <label><u>Nature</u>:</label>
        <select name="natureDesc" id="natureDesc" style="margin: 5px 0 0 5px; font-family: Souvenir-Medium;">
          {{#select natureDesc}}
          <option value="" selected disabled hidden>Choose a nature descriptor...</option>
          {{#each natureDesc}}
          <option name="{{this}}" value="{{this}}">{{this}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>
    <div class="row" style="align-items: center; margin: 5px 0 0 0;">
      <div class="col" style="flex: 0 0 55px"></div>
      <div class="col">
        <label><u>Tap</u>:</label>
        <label for="nature" style="margin: 0 0 0 8px;">Yes <em>(1 persona)</em></label>
        <input type="radio" name="nature" id="natureYes" value="natureYes">
        <span> / </span>
        <label for="nature" style="margin: 0 0 0 4px;">No</label>
        <input type="radio" name="nature" id="natureNo" value="natureNo" checked>
      </div>
    </div>

    <!-- Use Trait -->
    <div class="row" style="align-items: center; margin: 8px 0 5px 0; padding-right: 0px;">
      <div class="col" style="padding: 0 0 0 0;">
        <label for="trait"><u>Use Trait</u>:</label>
        <!-- <input type="text" name="trait" id="trait" data-dtype="Number" style="width: 80px; margin-left: 5px;"> -->
        <select name="traitList" id="traitDropdown" style="margin: 5px 0 0 5px; font-family: Souvenir-Medium;">
        {{#select traitList}}
        <option value="" selected disabled hidden>Choose a trait...</option>
        {{#each traitList}}
        <option name="{{this}}" value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
        </select>
      </div>
    </div>
      <!-- If a trait is chosen from the <select>, these needs to be required fields. -->
    <div class="row" style="align-items: center; margin: 5px 0 8px 0; padding-right: 0px;">
      <div class="col" style="flex: 0 0 65px"></div>
      <div class="col">
      <input type="radio" name="trait" id="traitFor" value="for">
      <label for="for" style="margin: 0 0 0 0;">Help (+1D)</label>
      <br>
      <input type="radio" name="trait" id="traitAgainst" value="against">
      <label for="against" style="margin: 0 0 0 0;">Hinder (-1D, 1 Check)</label>
      <br>
      <input type="radio" name="trait" id="traitAgainstExtra" value="againstExtra">
      <label for="againstExtra" style="margin: 0 0 0 0;">Help Enemy (+2D, 2 Checks)</label>
      </div>
    </div>
  </div>
</form>