<div class="dice-roll">
  <div class="dice-result">
    <div class="dice">
      <ol class="dice-rolls">
          {{#each this.results as |index key|}}
          <li class="roll die d6{{index.style}}">{{index.result}}</li>
          {{/each}}
          {{#if minusSuccesses}}
              <li class="roll mod">{{minusSuccesses}}s</li>
          {{/if}}
          {{#if plusSuccesses}}
              <li class="roll mod">+{{plusSuccesses}}s</li>
          {{/if}}
      </ol>
    </div>
    <h4 class="dice-total">{{success}}{{outcome}}</h4>
  </div>
</div>