<div class="{{cssClass}} {{inventoryContainerClass}}" data-item-id="{{item._id}}" data-container-type="{{containerType}}" autocomplete="off">
    <h1>Wyrd Lights</h1>
    <i><p>With whispered words, the magician calls forth dancing ﬂames from the aetherial plane.</p></i>
    <h3><b>Spell Effect</b></h3>
    <p>The magician summons a number of lights that dance and whirl about the head. Each wisp provides light equivalent to a candle and are unaffected by wind and weather. They can even give light when submerged. <br><br>With a thought, the caster may send the lights down corridors or around corners, giving the appearance of a party of adventurers carrying candles. The caster may also command each light to hover in a different place or follow a different person. The magician may choose to end the spell at any time.</p>

    <div class="row" style="align-items: baseline; font-family: Souvenir-Medium;">
        <p style="font-family: Souvenir-Demi;">Materials:</p>
        <p style="margin-left: 3px;">A drop of pure honey smeared on the caster's lips</p>
    </div>
</div>